@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
  background: #081624;
  color: #345;
  font-family: 'Varela Round', -apple-system, BlinkMacSystemFont, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 10em;
  text-align: center;
}

img {
  width: 60px;
}

#bookmarklet {
  background: #234;
  border-radius: 4px;
  color: #081624;
  display: inline-block;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -.03em;
  margin: 1em;
  padding: .6em;
}

a {
  color: #2be;
  text-decoration: none;
}

p a { opacity: .5; }
p a:hover { opacity: 1; }