
.hecate-header {
  align-items: center;
  display: flex;
  height: 40px;
}

.hecate-search {}
.hecate-search-input {
  background: inherit;
  border: 0;
  font: inherit;
  padding: 8px;
}

.hecate-upgrade {
  margin: 0 24px;
}
.hecate-upgrade-button {
  background: none;
  border: 1px solid;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(8,22,36,.1);
  color: #28f;
  cursor: pointer;
  font-weight: bold;
  padding: 4px 8px;
}
.hecate-upgrade-button:hover {
  box-shadow: 0 2px 6px rgba(8,22,36,.3);
  transform: translateY(-1px);
}

.hecate .mini-menu { display: none; }
.hecate-menu {
  align-items: center;
  cursor: pointer;
  display: flex;
  min-width: 160px;
  padding: 4px 8px;
}
.hecate-menu:hover { background: #f1f3f5; }
.hecate-menu-avatar {
  border-radius: 4px;
  height: 32px;
  margin-right: 4px;
  width: 32px;
}
.hecate-menu-name { flex: 1; }
.hecate-menu-chevron { opacity: .2; }
.hecate-menu:hover .hecate-menu-chevron { opacity: 1; }
.hecate-menu-options {
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(8,22,36,.3);
  display: none;
  left: 0;
  min-width: 160px;
  padding: 8px 0;
  position: absolute;
  top: 40px;
}
.hecate-menu:hover .hecate-menu-options { display: block; }
.hecate-menu-option {
  color: #789;
  line-height: 24px;
  padding: 8px 16px;
}
.hecate-menu-option:hover {
  background: rgba(34,136,255,.1);
  color: #28f;
}

.hecate-page-align {
  margin: 0 auto;
  max-width: 800px;
  padding: 72px;
}
.hecate-page-profile {
  background: rgba(255,255,255,.95);
  display: none;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}