/* reset Artemis styles */

.hecate .listview-settings-control {
  background: none;
  color: inherit;
}

/* reset Zeus styles */
html { min-width: 100vw; }

.hecate {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-width: 100vw;
}

.hecate button,
.hecate .mat-toolbar,
.hecate .mat-table,
.hecate .mat-form-field,
.hecate .mat-select,
.hecate .mat-paginator-page-size .mat-select-trigger {
  font-family: inherit;
}
.hecate .mat-toolbar {
  font-size: inherit;
  line-height: inherit;
}

.hecate .mat-drawer-container,
.hecate .mat-toolbar,
.hecate .component-container .component-card .header,
.hecate .mat-table,
.hecate .component-message.notice,
.hecate .tertiary-button,
.hecate .component-container .component-content.resize-panel-group,
.hecate .component-container .content-header {
  background: none;
}

.hecate .mat-paginator,
.hecate .mat-header-row,
.hecate .mat-expansion-panel {
  background: none;
  color: inherit;
}

.hecate .sidenav-head {
  background: none !important;
}

.hecate .mat-toolbar,
.hecate .mat-toolbar .mat-icon,
.hecate .mat-menu-item .mat-icon-no-color,
.hecate .component-container .component-card .header h2,
.hecate .mat-header-cell,
.hecate .mat-cell,
.hecate .mat-select-value,
.hecate .mat-paginator-page-size .mat-select-trigger,
.hecate .mat-select-arrow {
  color: inherit;
}

.hecate h4,
.hecate .sidenav-head .user-name,
.hecate .sidenav button:not([disabled]) {
  color: inherit !important;
}

.hecate .tertiary-button {
  border: none;
}
.hecate .component-container .component-card,
.hecate .component-container .component-card .header,
.hecate .component-container .component-card .data-table-tools,
.hecate .mat-row {
  border-width: 0 0 1px;
}

.hecate .sidenav-footer,
.hecate .app-footer {
  display: none !important;
}

/* light touches for Zeus */

.hecate .app-header .mat-toolbar {
  box-shadow: 0 3px 9px rgba(8,22,36,.1)
}