@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

/* Light Zeus */
.theme-Light {
  background: #fff;
  color: #345;
}

/* Maria Zeus */
.theme-Maria {
  background: #081624;
  color: #789;
  font-family: 'Karla', sans-serif;
}

.theme-Maria .sidenav {
  color: #789 !important;

}
.theme-Maria .sidenav button:hover {
  color: #fff !important;
}
.theme-Maria .sidenav,
.theme-Maria .sidenav button:not([disabled]) {
  background: #081624 !important;
}

.theme-Maria .mat-row:hover,
.theme-Maria .component-container.page-form .component-content.resize-panel-group .as-split-gutter {
  background: #123;
}
.theme-Maria .component-container.page-form .component-content.resize-panel-group .as-split-gutter:hover {
  background: #234;
}
.theme-Maria .sidenav-body .nav-divider,
.theme-Maria .component-container .component-card,
.theme-Maria .component-container .component-card .header,
.theme-Maria .component-container .component-card .data-table-tools,
.theme-Maria .mat-row,
.theme-Maria .component-container .table-component .mat-paginator:last-of-type .mat-paginator-container,
.theme-Maria .mat-expansion-panel-header,
.theme-Maria .component-container .content-header,
.theme-Maria .component-container .component-content .step-panel .mat-expansion-panel.output-table-name {
  border-color: #234 !important;
}

/* Future Zeus */
.theme-Future {
  background: #f1f3f5;
  font-family: 'Karla', sans-serif;
}

.theme-Maria .component-container .component-card {
  background: none;
}